<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="connection"
         providerName="System.Data.SqlClient"
         connectionString="Data Source = 10.1.10.114,1434; Initial Catalog = benDover; Connect Timeout = 30; User ID= ugoadmin; Password = ugo-2019;"/>
  </connectionStrings>
</configuration>