<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Neo_Alfred.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="connection" connectionString="Data Source = 10.1.10.114,1434; Initial Catalog = benDover; Connect Timeout = 30; User ID= ugoadmin; Password = ugo-2019;"
      providerName="System.Data.SqlClient" />
    <add name="Neo_Alfred.Properties.Settings.benDoverConnectionString"
      connectionString="Data Source=10.1.10.114,1434;Initial Catalog=benDover;Persist Security Info=True;User ID=ugoadmin;Password=ugo-2019"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Neo_Alfred.Properties.Settings>
      <setting name="Orders_Today" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BAVG_Today" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PAVG_Today" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Orders_Week" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BAVG_Week" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PAVG_Week" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Orders_Month" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BAVG_Month" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PAVG_Month" serializeAs="String">
        <value>0</value>
      </setting>
    </Neo_Alfred.Properties.Settings>
  </userSettings>
</configuration>