<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="connection" connectionString="Data Source = 10.1.10.114,1434; Initial Catalog = benDover; Connect Timeout = 30; User ID= ugoadmin; Password = ugo-2019;"
      providerName="System.Data.SqlClient" />
    <add name="Neo_Alfred.Properties.Settings.benDoverConnectionString"
      connectionString="Data Source=10.1.10.114,1434;Initial Catalog=benDover;Persist Security Info=True;User ID=ugoadmin;Password=ugo-2019"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>